.bottom-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 0.8em;
    padding: 2px 0;

    .cold-storage-choice {
        display: flex;
        align-items: center;
        border-right: 1px solid gray;
        padding-right: 10px;

        input {
            margin-right: 4px;
            cursor: pointer;
        }

        label {
            cursor: pointer;
        }
    }

    .pinned-key {
        display: flex;
        align-items: center;
        border-radius: 16px;
        background-color: rgb(69, 125, 255);
        color: white;
        padding: 0 6px;

        .pinned-key-type {
            font-weight: bold;

            &:after {
                content: ':';
                margin-right: 3px;
            }
        }

        .pinned-key-delete {
            width: 12px;
            height: 12px;
            line-height: 12px;
            text-align: center;
            border-radius: 100%;
            background-color: rgb(16, 43, 106);
            margin-left: 4px;
            cursor: pointer;

            &:hover {
                background-color: rgb(176, 58, 58);
            }
        }
    }

    .pinned-keys-empty {
        color: gray;
    }

    .spacer {
        flex: 1;
    }

    .show-ascii {
        display: flex;
        align-items: center;
        border-left: 1px solid gray;
        padding-left: 10px;

        input {
            margin-right: 4px;
            cursor: pointer;
        }

        label {
            cursor: pointer;
        }
    }
}
