# CODEOWNERS: https://help.github.com/articles/about-codeowners/

/chain/ @bowenwang1996 @mzhangmzz @mm-near @yordanmadzhunkov
/chain/client/src/view_client.rs @khorolets @chefsale
/chain/client-primitives/ @khorolets @chefsale
/chain/network/ @mm-near @bowenwang1996 @pmnoxx
/chain/network-primitives/ @mm-near @pmnoxx
/chain/jsonrpc/ @khorolets @chefsale
/chain/jsonrpc-primitives/ @khorolets @miraclx @chefsale
/chain/indexer/ @khorolets
/chain/rosetta-rpc/ @frol

/runtime/ @bowenwang1996 @EgorKulikov @mzhangmzz @mm-near
/runtime/runtime-params-estimator/ @olonho @matklad
/runtime/near-test-contracts/ @olonho @ailisp @matklad
/runtime/near-vm-runner-standalone/ @olonho @ailisp @matklad
/runtime/near-vm-runner/ @olonho @ailisp @matklad

/genesis-tools/ @ailisp
/tools/indexer/ @khorolets

/core/  @bowenwang1996 @matklad @mm-near
/core/store/src/trie @mzhangmzz @longarithm
/neard/ @bowenwang1996 @mm-near
/nearcore/ @bowenwang1996 @mm-near
/test-utils/state-viewer @nikurt
/test-utils/runtime-tester @posvyatokum @matklad

/.buildkite/ @chefsale @mhalambek
/scripts/ @chefsale @mhalambek

/docs/ @bowenwang1996 @matklad
