[Unit]
Description=NEARCore Daemon
After=network.target

[Service]
ExecStart={exec_start}
User={user}
RestartSec=5
Restart=on-failure

# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives nearcore time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP

[Install]
WantedBy=default.target
