[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
base58 = "*"
boto3 = "*"
colorama = "*"
deepdiff = "*"
ed25519 = "*"
fabric = "*"
numpy = "*"
prometheus-client = "*"
pynacl = "*"
python-rc = "==0.3.9"
requests = "*"
retrying = "*"
scikit-learn = "==0.21.3"
semver = "*"
tornado = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.7"
