[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
fabric = "*"
tornado = "*"
requests = "*"
ed25519 = "*"
base58 = "*"
python-rc = "==0.1.9"
tqdm = "*"
deepdiff = "*"
retrying = "*"

[dev-packages]

[requires]
python_version = "3.7"
