PyGithub
base58
cython
deepdiff
# TODO: replace ed25519 package with https://github.com/pyca/pynacl
git+https://github.com/near/python-ed25519.git
locust>=2.28
geventhttpclient>=2.3.1
nearup
numpy
prometheus-client
psutil
pynacl
python-rc==0.3.9
requests
retrying
scikit-learn
scipy
semver
toml
tqdm
urllib3<2
