.actors-view {
    .error {
        color: red;
    }
}

.actors-table {
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    td {
        text-align: left;
        vertical-align: top;
        padding: 8px;
    }

    th {
        text-align: center;
        vertical-align: center;
        padding: 8px;
        background-color: lightgrey;
    }

    // Thread Name column (first column)
    th:first-child,
    td:first-child {
        width: 25%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: none;
        white-space: normal;
    }


    tr.active {
        background-color: #eff8bf;
    }
}