.epoch-shards-table {
    .shard-cell {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .shard-size-bar {
            flex: 1;
            display: flex;
            align-items: center;
            margin-right: 8px;

            .bar {
                background-color: rgb(14, 14, 188);
                height: 8px;
                margin-right: 6px;
            }

            .text {
                font-size: 14px;
                white-space: nowrap;
            }
        }

        .shard-parts {
            font-size: 14px;
        }
    }

    th:first-child {
        border: none;
        background: none;
    }

    thead tr:first-child th {
        background: none;
    }

    thead tr:first-child th:nth-child(3) {
        border: none;
    }

    $current-border: 4px solid #3bda26;

    thead tr:first-child th:nth-child(2) {
        border-top: $current-border;
        border-left: $current-border;
        border-right: $current-border;
    }

    thead tr:nth-child(2) th,
    tbody td {
        &:nth-child(2) {
            border-left: $current-border;
            border-right: $current-border;
        }
    }

    tbody td:first-child {
        background-color: lightgray;
    }

    tbody tr:last-child td:nth-child(2) {
        border-bottom: $current-border;
    }

    thead tr:nth-child(2) th:nth-child(2) {
        background-color: #d6ffd0;
    }
}
